body{
    text-align: center;
    background-color: #D6E2F0;
    font-family:"Outfit" ;
}

p{
 font-weight: 400;
 color: hsl(220, 15%, 55%); 
 font-size: 15px;
}
h1{
    font-weight: 700;
    
}


.card{
    width: 375px;
    background-color: white;
    margin: auto;
    margin-top: 5%;
    padding: 1%;
    border-radius: 5%;
}

.qr-image{
    width: 360px;
    border-radius: 5%;
    
}

.container{
    padding: 5%;
}

.attribution{
    margin-top: 5%;
}
